<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--<entityFramework>
    <providers>
      <provider  invariantName = " System.Data.SqlClient "   type = "System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer " />
    </providers>
  </entityFramework>-->
  <connectionStrings>
    <add name="connStr" connectionString="server=.;database=Study;uid=sa;pwd=123" providerName="System.Data.SqlClient"/>
    <add name="DataConnection" connectionString="server=.;database=Study;uid=sa;pwd=123" providerName="System.Data.SqlClient" />
    <add name="Test" connectionString="Data Source=.;database=Study;uid=sa;pwd=123" providerName= "System.Data.SqlClient"/>
  </connectionStrings>
  <!--<connectionStrings>
    -->
  <!--<add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />-->
  <!--
    <add name="DataConnection" connectionString="server=.;database=Study;uid=sa;pwd=123" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    -->
  <!--<add name="connStr" connectionString="server=.;database=Study;uid=sa;pwd=123" providerName="System.Data.SqlClient"/>-->
  <!--
    -->
  <!--<add name="connStr" connectionString="Data Source=localhost;Initial Catalog=Study111;Uid=sa;pwd=123" providerName="System.Data.SqlClient"/>-->
  <!--
    -->
  <!--Data Source=.\SQLEXPRESS;Initial Catalog=connStr;Integrated Security=True;Mu-->
  <!--
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="Config" connectionString="server=.;database=db_Study;user id=sa;pwd=123" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!--<caching>
    <sqlCacheDependency enabled="true" pollTime="1000">

      <databases>
        <add name="CacheData" connectionStringName="Config" pollTime="1000"/>
      </databases>
    </sqlCacheDependency>

  </caching>-->
  <system.web>
<!--SQL依赖缓存配置-->
    <caching>
      <sqlCacheDependency enabled = "true" pollTime = "1000" >
        <databases>
          <add name="testCache"  connectionStringName="connStr"  pollTime = "1000" />
        </databases>
      </sqlCacheDependency>
    </caching>
    
    <!--配置MVC框架-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <add key="ConnectionString" value="server=.;database=Study;user id=sa;pwd=123" />
    <!--<add key="Test" value="Data Source=.;database=Study;uid=sa;pwd=123" />-->
    <add key="cache" value="testCache" />
    <add key="table" value="t_student" />
  </appSettings>
</configuration>
